<a class="flex items-center gap-2 text-black" href="https://disco-tec.com/" target="_blank">
  <svg class="h-4 md:h-4" viewBox="0 0 136 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.307617 0H10.9742C15.2177 0 19.2873 1.6857 22.2879 4.68627C25.2885 7.68684 26.9742 11.7565 26.9742 15.9999C26.9742 20.2434 25.2885 24.313 22.2879 27.3136C19.2873 30.3141 15.2177 31.9998 10.9742 31.9998H0.307617V0Z" fill="#6424FB" />
    <path fill-rule="evenodd" clip-rule="evenodd" d="M106.541 0H91.3847C87.1412 0 83.0716 1.6857 80.071 4.68627C77.0705 7.68684 75.3848 11.7565 75.3848 15.9999C75.3848 20.2434 77.0705 24.313 80.071 27.3136C83.0716 30.3141 87.1412 31.9998 91.3847 31.9998H106.541C105.817 31.4692 105.128 30.8926 104.477 30.2725C101.517 27.4496 99.5006 23.8531 98.6838 19.9377C97.867 16.0223 98.2862 11.9638 99.8885 8.27559C101.311 5.00202 103.608 2.15058 106.541 0Z" fill="#6424FB" />
    <path d="M30.1738 0H43.5071V31.9998H30.1738V0Z" fill="#6424FB" />
    <path d="M73.3736 0H57.3736C54.5447 0 51.8316 1.1238 49.8312 3.12418C47.8308 5.12456 46.707 7.83765 46.707 10.6666C46.707 13.4956 47.8308 16.2087 49.8312 18.2091C51.8316 20.2094 54.5447 21.3332 57.3736 21.3332L73.3736 0Z" fill="#6424FB" />
    <path d="M62.707 10.6668C65.5359 10.6668 68.249 11.7906 70.2494 13.791C72.2498 15.7913 73.3736 18.5044 73.3736 21.3334C73.3736 24.1624 72.2498 26.8755 70.2494 28.8758C68.249 30.8762 65.5359 32 62.707 32H46.707L62.707 10.6668Z" fill="#6424FB" />
    <path d="M135.691 15.9999C135.691 19.1644 134.753 22.2578 132.995 24.889C131.237 27.5202 128.738 29.5709 125.814 30.7819C122.891 31.9929 119.674 32.3098 116.57 31.6924C113.466 31.0751 110.615 29.5512 108.378 27.3136C106.14 25.0759 104.616 22.225 103.999 19.1214C103.381 16.0177 103.698 12.8006 104.909 9.87702C106.12 6.95341 108.171 4.45457 110.802 2.69647C113.433 0.938379 116.527 0 119.691 0C123.935 0 128.004 1.6857 131.005 4.68627C134.006 7.68684 135.691 11.7565 135.691 15.9999Z" fill="#6424FB" />
  </svg>
</a>
