{% liquid
  assign title = section.settings.title
  assign content = section.settings.content

  if title == blank
    assign title = page.title
  endif
  if content == blank
    assign content = page.content
  endif
%}

<div class="lazy-item section wrapper prose mx-auto max-w-4xl">
  {% if title != blank %}
    <h1 class="title">{{ title }}</h1>
  {% endif %}
  {{ content }}
</div>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.main_page.name",
  "class": "content-richtext",
  "presets": [
    {
      "name": "t:sections.main_page.name"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.title"
    },
    {
      "id": "title",
      "type": "text",
      "label": "t:common.labels.title.write"
    },
    {
      "type": "header",
      "content": "t:common.headers.text"
    },
    {
      "id": "content",
      "type": "richtext",
      "label": "t:common.labels.text.write"
    }
  ]
}
{% endschema %}
